
h3 {
    font-weight: bold;
}

.sidebar {
    margin-top: 10px;
}

.profilestyle {
    margin-top: 20px;
    box-shadow: 1px 6px 1px #d6c4c4;
    background-color: lightblue;
    cursor: pointer;
}

.deleteX {
    float: right; 
}