
.col-1 {
    display: inline-block;
   
}

.col-1 h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 22px;
    font-weight: bold;
}

.col-2 {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    float:right;
   
}

.temperature {
    font-size: 22px;
}

.weather-element {
    box-shadow: 1px 1px 6px rgb(82, 72, 72);
    padding: 10px;
    margin: 10px 0;
    float: left;
    width: 90%;
   
}


.info {
    color: gray;
}